body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.focused-on {
  display: flex;
  margin-bottom: 150px;
  position: relative;
}
h1 {
  font-size: 40px;
}
.ambition {
  width: 50%;
  margin-left: 20px;
  font-size: 20px;
}
.set {
  border-left: 10px solid;
  border-image: linear-gradient(lightblue, cyan);
  border-image-slice: 1;
}
.image img {
  width: 50%;
  margin-left: 20px;
}
.code {
  margin-left: 50px;
  width: 50%;
}
.explore {
  text-decoration: none;
  background-image: linear-gradient(blue, cyan);
  color: black;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}
.me {
  color: brown;
}
.tour {
  text-align: center;
}
.target {
  text-align: center;
  border: 10px black;
  background: black;
  width: 100%;
  height: 20%;
  color: white;
  padding: 10px;
  font-size: small;
}
.container {
  box-shadow: 10px 10px 20px gray;
  margin-left: 2%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: 30%;
  width: 40%;
  height: 20%;
}
.build {
  color: black;
}
.dev {
  width: 80%;
  margin-top: 30px;
}
